[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
sqlalchemy = "*"
plotly = {io = "*"}
dash_bootstrap_components = "*"

[dev-packages]

[requires]
python_version = "3.9"
