/* Change la marge bout d'export  */
.table-menu {
  font-size: 16px;
  margin: 12px;
  height: 36px;
}

.table-menu > * {
  margin: 8px;
  float: left;
}

#source_table p {
  line-height: 1.5;
}

#source_table {
  margin-bottom: 25px;
}

#instructions {
  max-width: 1000px;
}

details > div {
  padding-top: 24px;
}

/* Logo et version */

div.logo {
  width: 230px;
}

p.version {
  float: left;
  margin-top: 21px;
  margin-left: 12px;
}

p.version > a {
  text-decoration: none;
}

div.logo h1 {
  float: left;
}

div.logo > a {
  text-decoration: none;
  color: black;
}

/* Réduire la taille du texte de la colonne Objet */

td[data-dash-column="objet"] {
  font-size: 85%;
}

/* Couleur des en-têtes */
.dash-table-container
  .dash-spreadsheet-container
  .dash-spreadsheet-inner
  th.dash-header {
  background-color: #b33821;
  color: white;
  font-family: sans-serif;
  text-align: left;
}

.dash-table-container
  .dash-spreadsheet-container
  .dash-spreadsheet-inner
  th.dash-filter {
  background-color: #f0afa3;
}

.dash-table-container p {
  margin-bottom: 0;
}

.dash-filter--case {
  display: none;
}

.dash-tooltip,
.dash-table-tooltip {
  color: #333;
  width: 400px !important;
  max-width: 400px !important;
  height: 150px !important;
  max-height: 150px !important;
  overflow: hidden;
}

.dash-tooltip pre,
.dash-tooltip code {
  overflow: hidden;
  height: 150px;
  text-wrap: wrap;
  font-family: sans-serif;
}

/* Menu de masquage des colonnes */
.column-actions {
  margin-right: 8px;
}

.column-header--hide {
  display: none;
}

.show-hide {
  position: relative;
  width: 180px;
  margin: 0 0 10px 10px;
}

.show-hide::before {
  background: inherit;
  content: "Colonnes affichées";
  position: absolute;
  left: 5px;
  right: 5px;
}

.show-hide-menu-item > input {
  margin-right: 10px;
}

/* Alternance des couleurs pour les lignes */
.marches_table {
  font-family: sans-serif;
}
.marches_table .cell-table tr:nth-child(even) td {
  background-color: #feeeee;
  font-family: sans-serif;
}

#header > *,
.dash-spreadsheet-menu button.export {
  margin: 0 0 20px 20px;
}

/* Annonces */
#announcements {
  margin-top: 25px;
}

/* Menu de navigation */

.navbar {
  width: 100%;
  height: 100px;
  padding: 0 10px;
  border: 0;
  border-bottom: solid 1px black;
}

a.nav {
  float: left;
  margin-right: 40px;
  font-size: 120%;
}

h3 {
  margin: 36px 0 24px 0;
}

summary > h3 {
  margin: 0;
  display: inline;
}

#_pages_content {
  padding-top: 28px;
}

/* Vue acheteur/titulaire    */
.wrapper {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.wrapper > div {
}

.org_title {
  grid-column: 1 / 3;
  grid-row: 1;
}

.org_year {
  grid-column: 3;
  grid-row: 1;
}

.org_infos {
  grid-column: 1;
  grid-row: 2;
}

.org_infos > p {
  margin: 8px 0;
}

.org_stats {
  grid-column: 2;
  grid-row: 2;
}

.org_map {
  grid-column: 3;
  grid-row: 2;
}

/* Vue marché */

.marche_infos p {
  margin-top: 6px;
  margin-bottom: 6px;
}

.marche_title {
  grid-column: 1/3;
  grid-row: 1;
}

.marche_map {
  grid-column: 3;
  grid-row: 2;
  width: 400px;
}

.marche_infos_1 {
  grid-column: 1;
  grid-row: 2;
}

.marche_infos_2 {
  grid-column: 2;
  grid-row: 2;
}
