/* Change le texte du bout d'export  */
button.export {
  font-size: 0;
}
button.export:before {
  content: "Télécharger au format Excel";
  font-size: 14px;
}

/* Masquer le bouton de configuration de la casse dans les filtres */
input.dash-filter--case {
  display: none;
}

/* Réduire la taille du texte de la colonne Objet */

td[data-dash-column="objet"] {
  font-size: 85%;
}

.dash-table-container
  .dash-spreadsheet-container
  .dash-spreadsheet-inner
  th.dash-header {
  background-color: #b33821;
  color: white;
}

.dash-table-container
  .dash-spreadsheet-container
  .dash-spreadsheet-inner
  th.dash-filter {
  background-color: #f0afa3;
}

#table tr:nth-child(even) td {
  background-color: #feeeee;
}

#header > *,
.dash-spreadsheet-menu button.export {
  margin: 0 0 20px 20px;
}

.navbar {
  width: 100%;
  height: 100px;
  padding: 10px;
}

a.nav {
  float: left;
  margin-right: 40px;
  font-size: 120%;
}

h1 {
  float: left;
  width: 50%;
}

h3 {
  display: inline;
}
